body {
  padding-bottom: 20rem;
}

header

h1 {
  color: hsla(360, 100%, 100%, 1);
  font-weight: bold;

}

main {
  max-width: 900px;
  padding-bottom: 200rem;
}


footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
